button{
  background-color: #3882f6;
   border-radius: 10px;
   border: black;
   margin: 5%;
   margin-left: 0;
   flex: 1;
   padding: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   
}
header{
    background-color:goldenrod;
    font-weight: 900;
    font-size: 100px;
    padding: 20px;
    text-align: center;
}
